version: '3.4'

services:
  project-for-jenkins-website:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY-}projectforjenkinswebsite
    environment:
      - ASPNETCORE_URLS=http://+:80
    container_name: testapi
    restart: on-failure
    expose:
      - "80"
    ports:
      - "1234:80"